<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - 注册</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- 全局js -->
    <script th:src="@{/js/jquery.min.js}" type="“text/javascript”"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="“text/javascript”"></script>
    <!-- iCheck -->
    <script th:src="@{/js/plugins/icheck.min.js}" type="“text/javascript”"></script>
    <!--<script type="“text/javascript”">
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>-->
    <link rel="icon" th:href="@{favicon.ico}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/plugins/custom.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/animate.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">RPC</h1>

            </div>
            <h3>欢迎注册 自动化测试平台</h3>
            <p>创建一个自动化平台新账户</p>
            <form class="m-t" role="form" action="main.html" th:action="@{/user/doRegister}" method="post" th:if="${#strings.isEmpty(msgRe)&&#strings.isEmpty(msgReSq)}">
                <p style="color:red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="请输入用户名" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="请输入密码" required="required">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="nickname" placeholder="请输入昵称" required="required">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="请输入邮箱" required="required">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">注 册</button>
            </form>

            <form class="m-t" role="form" action="main.html" th:action="@{/user/activation}" method="post" th:if="${not #strings.isEmpty(msgRe)||#strings.isEmpty(msgReSq)}">
                <p style="color:red" th:text="${msgRe}"></p>
                <div class="form-group">
                    <input type="text" class="form-control" name="identity" placeholder="请输入验证码" required="required">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">点击激活</button>
            </form>

            <form class="m-t" role="form" th:action="@{/user/resetEmail}" method="post" th:if="${not #strings.isEmpty(msgReSq)}">
                <p style="color:red" th:text="${msgReSq}"></p>
                <div class="form-group">
                    <input type="text" class="form-control" name="resetEmail" placeholder="请输入新的邮箱" required="required">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">点击提交</button>
            </form>

            <p class="text-muted text-center" th:if="${#strings.isEmpty(msgRe)||#strings.isEmpty(msgReSq)}"><small >已经有账户了？</small><a th:href="@{/index}">点此登录</a></p>

        </div>
    </div>



    
    

</body>

</html>
